[submodule "external/Detours"]
	path = external/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "external/WzLib"]
	path = external/WzLib
	url = https://github.com/iw2d/WzLib.git
	branch = v83_DX8to9
[submodule "external/StackWalker"]
	path = external/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
